<div class="container-contato">

    <img 
        src='{{ pessoa?.foto }}'
        class="rounded-circle"
        style="width: 150px;"
        alt="Avatar"
        />

    <div style="padding: 10px; color: #FFF;">
        <h5>{{ pessoa?.nome }}</h5>
    </div>
    
    <div style="text-align: left;">
        <h5 style="background-color: #FFF; width: fit-content; border-radius: 10px; padding: 2px 15px 2px 15px;">Contato</h5>
        <ul style="color: #FFF;">
            <li>{{ pessoa?.celular }}</li>
            <li>{{ pessoa?.email }}</li>
        </ul>
    </div>        

</div>