<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-4 left-side">
            <div class="row text-center">
                <div class="col">
                    <app-dados-pessoais></app-dados-pessoais>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-formacao></app-formacao>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-tecnologias></app-tecnologias>
                </div>
            </div>
        </div>
        <div class="col-8" style="margin-top: 2%;">
            <div class="row">
                <div class="col">
                    <app-historico></app-historico>
                </div>
            </div>
        </div>
    </div>
</div>