
 .card-exp {
     margin-bottom: 10px;
 }

 .container-exp {
    width: fit-content;
    background-color: #003781;
    border-radius: 15px;
    color: #FFF;
    padding: 5px 15px 2px 15px;
    margin-bottom: 10px;
}

.card {
    border-color: #003781;
    border-radius: 15px;
}